<!--wrapper-->
<div class = "container">
  
  <div class="page-header">
    <h1>
      Profile
      <!--make this dynamic == should say "Firstname's Profile-->
    </h1>
  </div>
  
  <div class = "col-md-4">
    <!--photos go here-->
    
  </div>
  
  <div class = "col-md-8">
    <!--bios and chats go here-->
  </div>
  
</div>