<h1>
  Edit match #<%= @match.id %>
</h1>

<hr>

<form action="/update_match/<%= @match.id %>" method="post">

  <div class="form-group">
    <label for="my_id">
      My
    </label>

    <input type="text" id="my_id" name="my_id" class="form-control" value="<%= @match.my_id %>">
  </div>

  <div class="form-group">
    <label for="other_user_id">
      Other user
    </label>

    <input type="text" id="other_user_id" name="other_user_id" class="form-control" value="<%= @match.other_user_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update match
  </button>
</form>

<hr>

<a href="/matches">
  Go back
</a>
